.hero {
  text-align: left;
  padding: 155px 60px;
  background: #fefefe url('../assets/Bg.jpg') no-repeat center center;
  background-size: cover;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.bold {
  font-weight: bold;
}

.hero p {
  font-size: 18px;
  max-width: 550px;
  color: #333;
  margin-bottom: 30px;
}

.get-started {
  padding: 14px 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.get-started:hover {
  background-color: #222;
}
